@use "variable";
@use "mixins";
@use "component";
@use "animations";

body{
    background-color:variable.$colorbg;
    overflow: hidden;
}
.QuizP,.TaskPage{
    height: 100vh;  
    width: 100vw;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.QuizB{
    text-align: center;
    background-color: white;
    border-radius: 30px;
    box-shadow: 9px 6px 12px -3px white;
    padding: 30px;
    .qes{
        label{
        }
        input{
            padding-block: 10px;
            width: 250px;
        }
        p{
            margin-top: 0px;
        }
    }
    .btnQWIZ{
        @include component.btnS-style
    }
}
.Taskbody {
    border: 1px solid aqua;
    border-radius: 20px;
    height: 400px;
    padding-inline: 20px;
    display: flex;              
    flex-direction: column;    
    justify-content: center;    
    align-items: center;      
}

.info{
    @include component.info-Con
    
}

.btnBlock{ 
    button{
        @include component.btn-pageT
    }
}

.formPage{
    margin-top: 70px;
    height: 70vh;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    
    input{
        padding: 15px;
        background-color:variable.$colorbg;
        border: 0px;
        border-radius: 20px;
        color: white;
    }
    
    button{
        @include component.btnS-style
    }
}
